<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css"> 
</head>
<body>
    <h1>My todo app</h1>
    <div class="todo-table">
        <form action="">
            <input type="text" name="item" id="" placeholder="Add new item..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>

        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>